.App {
  text-align: center;
}

.Header >.head{
  display: flex;
  align-items: center;
  padding: 50px 200px 50px 200px;
  vertical-align: bottom;
  justify-content: space-around;
}

.add-img {
  width: 1250px;
  height: 100px;
}

.yandex-img {
  width: 150px;
  height: 80px;
}